/* CSS NAV */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.bg{
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
}

.nav{
    width: 65%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav ul {
    margin-top: auto; /*Para quitar el margin-top de bootstrap*/
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
}

.nav h2 {
    color: white;
}
.nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.nav ul li a:hover{
    color: rgb(96, 161, 244);
}

/* 404 Error página */

.mensaje {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 22%;
    margin: auto;
}

.mensaje h1{
    font-size: 300px;
    color: rgba(224, 231, 242, 0.658);
}

.boton{
    font-size: 25px;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    margin: 60px auto;
    border-radius: 40px;
    border-width: 0;
    background-color: rgb(49, 96, 178);
    color: white;
    transition: 0.2s;
}

/* Página Marcas */

.titulomarcas > h1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 55px;
    font-weight: 700;
}

.boton:hover, .boton-basico:hover{
    background-color: rgb(34, 68, 128);
}

/* NUEVO CODIGO */

/* Página Productos */ 

.seccion-prod{
    margin: 0px 300px;
    margin-top: 70px;
}

.titulo-categorias{
    display: flex;
    margin-top: 25px;
}

.cat{
    width: 130px;
    height: 55px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    border-radius: 40px;
}

.seleccionado{
    border: 2px solid rgb(149, 223, 168);
    box-shadow: 0px 5px 20px rgba(135, 207, 159, 0.587);
    
}

.caja-general{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.caja-prod{
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    border-radius: 60px;
    width: 400px;
    margin-top: 50px;
    padding: 30px;
}

.imagen-prod{
    display: block;
    width: 320px;
    height: 320px;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 3px solid rgb(214, 228, 217);
    border-radius: 30px;
}

.prod-nombre{
    font-size: 25px;
}

.prod-compra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.boton-agregar{
    margin: auto 0px;
    background-color: rgb(100, 176, 134);
    width: 60px;
}

.sinproductos{
    font-size: 35px;
    text-align: center;
    padding: 90px 0px;
    font-weight: 900;
    color: rgba(104, 104, 104, 0.24);
}

.container{
    margin: 80px auto;
}

/* Seccion Mi Cuenta */

.listaopciones{
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    margin: 0;
    font-size: 22px;
    width: 250px;
    padding: 25px 0px;
}

.listaopciones ul li{
    padding: 10px 0px;
}

.listaopciones ul li a{
    text-decoration: none;
    color: black;
}

.cuadro-grande{
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    font-size: 18px; 
    padding: 32px;  
}

.cuadro-grande h2, h4{
    color: rgb(71, 74, 212);
    font-weight: 900;
}

/* Seccion Mis Pedidos */

.borde-coloreado{
    border: 2px solid rgb(171, 175, 228);
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
}

.pedido-titulo{
    border-bottom: 1px solid rgb(49, 96, 178);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cuadroproducto-detalle{
    display: flex;
    align-items: center;
}

.producto-detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.producto-detalles p{
    margin-bottom: 0px;
    margin-right: 20px;
}

.pedidoimagenproducto{
    width: 140px;
    margin: 20px;
    border-radius: 20px;
}

.boton-basico{
    background-color: rgb(49, 96, 178);
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.2s;
    cursor: pointer;
}

.boton-cupon{
    background-color: white;
    color: black;
    border: 2px solid rgb(49, 96, 178);
    border-radius: 40px;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    margin-top: 20px;
}

/* Metodos de despacho */

.cuadro-opcion:hover{
    border: 2px solid rgb(49, 96, 178); 
    cursor: pointer;
}

.recojo-seleccionado{
    background-color: aqua;
}

.despachos-caja-general{
    padding: 0px;
}

.metodos-selecciones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px auto 30px auto;
}

.cuadro-opcion{
    text-align: center;
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    border-radius: 20px;
    width: 200px;
    height: 130px;
    padding: 15px;
    border: solid 2px transparent;
    transition: border 0.3s;
    display: grid;
    place-items: center;
}

.cuadrometodos-detalles{   
    box-shadow: 0px 5px 20px rgba(200, 200, 200, 0.587);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    margin: 30px;
}

.cuadrometodos-detalles table{
    margin: auto;

}

.cuadrometodos-detalles table tr th, td{
    padding: 10px;
    width: 230px;
    height: 35px;
}

.cuadrometodos-detalles table tr td select, option{
    width: 230px;
    height: 33px;
}

/* SEGUIMINTO BARRA */

.hh-grayBox {
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}