<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<style type="text/css">
	.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    }
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  
}
	</style>
	<div class="container">
		<h2 class="" style="color: rgb(11, 180, 93); text-align: left; padding-bottom: 20px">Registrar un nuevo usuario</h2>
		<form th:action="@{/formulario}" th:object="${cliente}" method="post">
			<div class="col-4 mt-3">
				<h5 class="form-label" for="nombre">Nombre:</h5>
				<div>
					<input class="form-control" type="text" placeholder="Ingrese su nombre" 
					th:field="*{nombre}" th:errorclass="'bg-danger bg-opacity-25'" style="width: 333px" autofocus>
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			</div>
			<div class="col-4 mt-3">
				<h5 class="form-label" for="apellidos">Apellidos:</h5>
				<div>
					<input class="form-control" type="text" placeholder="Ingrese su apellido" 
					th:field="*{apellidos}" style="width: 333px" th:errorclass="'bg-danger bg-opacity-25'">
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
			</div>
			<div class="col-4 mt-3">
				<h5 class="form-label" for="email">Email:</h5>
				<div>
					<input class="form-control" type="text" placeholder="Ingrese su email" 
					th:field="*{email}" style="width: 333px" th:errorclass="'bg-danger bg-opacity-25'">
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
			</div>
			
			<div class="col-4 mt-3">
				<h5 class="form-label" for="contra">Contraseña:</h5>
				<div>
					<input class="form-control" type="password" placeholder="Ingresar contraseña" 
					th:field="*{contraseña}" style="width: 333px" th:errorclass="'bg-danger bg-opacity-25'">
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></small>
			</div>
			
			<div class="col-4 mt-3">
				<h5 class="form-label" for="doc">Tipo de documento:</h5>
				<div>
					<select class="form-control" type="text" 
					th:field="*{doc}" style="width: 333px" th:errorclass="'bg-danger bg-opacity-25'">
					<option th:value="'DNI'" th:text="DNI"></option>
					<option th:value="'CE'" th:text="CE"></option>
					</select>
				</div>
				<small class="text-danger"></small>
			</div>
			
			<div class="col-4 mt-3">
				<div>
					<input class="form-control" type="number" placeholder="Ingresar documento" 
					th:field="*{docnum}" style="width: 333px" th:errorclass="'bg-danger bg-opacity-25'">
				</div>
				<small class="text-danger" th:if="${#fields.hasErrors('docnum')}" th:errors="*{docnum}"></small>
			</div>
			
			
			
			<div class="col-4 mt-3" style="margin: auto;">
				<input class="btn btn-success mt-2 w-100" type="submit" value="Crear cuenta">
			</div>
			
		</form>
	</div>
</body>
</html>
