<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index-estilos.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/general/sweetalert2/dist/sweetalert2.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>
<body>
    <!-- Nav repetido -->
    <div class="bg">
        <div class="nav">
            <a th:href="@{/inicio}"><img src="images/store.png" style="width: 70px;"></a>
            <ul>
                <li><a th:href="@{/inicio}">Inicio</a></li>
                <li><a th:href="@{/listar}">Productos</a></li>
                <li><a th:href="@{/marca}">Marcas</a></li>
                <li><a th:href="@{/seguimiento}">Seguimiento</a></li>
                <li><a th:href="@{/micuenta}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    </a></li>
                <li><a th:href="@{/carritocompras}">  <!--a href="/carrito-de-compras"-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg></a></li>
            </ul>
        </div>
    </div>

    <!-- Titulo -->
    <section class="seccion-prod">
    <div class="">
        <span style="font-size: 40px; font-weight: 900;">PRODUCTOS:</h1>
     </div>

    <!-- Marcas -->
     <div class="titulo-categorias">
        <div class="cat btn seleccionado" data-filter="todos" style="font-size: 20px; font-weight: 900;">Todos
        </div>
        <div class="cat btn" data-filter="prodacer"><img src="/images/acerlogo.png" alt="acerlogo" style="width: 70px">
        </div>
        <div class="cat btn" data-filter="prodasus"><img src="/images/asuslogo.png" alt="asuslogo" style="width: 70px">
        </div>
        <div class="cat btn" data-filter="prodmsi"><img src="/images/msilogo.jpg" alt="msilogo" style="width: 70px">
        </div>
        <div class="cat btn" data-filter="prodhp"><img src="/images/hplogo.png" alt="hplogo" style="width: 70px">
        </div>
        <div class="cat btn" data-filter="prodlenovo"><img src="/images/lenovologo.png" alt="lenovologo" style="width: 70px">
        </div>
        <div class="cat btn" data-filter="prodrazer"><img src="/images/razerlogo.png" alt="razerlogo" style="width: 70px">
        </div>
        
    </div>

    <!-- Sección Productos -->
    <div class="caja-general">

        <!-- Producto 1 Acer-->
        <div th:each="producto : ${productos}"  th:class="${producto.marca}" class="caja-prod prodacer">
            
            <img th:src="${producto.ruta}" src="/images/Acerproducto1.png" alt="acerprod1" class="imagen-prod">
            
            <span class="prod-nombre" th:text="${producto.nombre}" >Monitor Acer HA220Q 21.5” FULL HD LED IPS 75HZ</span><br><br>
            
            <div class="prod-compra">
    
            <h3 style="margin: auto 0px; color: rgb(76, 189, 84);" th:text="${producto.precio}">S/549.00</h3>
            <div class="boton-agregar btn"   th:id="${producto.id}"   onclick="AgregarCarrito(this);"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" style="color: white" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
            </svg>
            </div>
            </div>
        </div>

    </div>
    
        <div class="sinproductos">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg><br><br>
            No nos quedan más productos :(
        </div>

    </section>

    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/script.js"></script>
    <script src="/general/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/custom/sweetalert2/init.js"></script>

    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
function AgregarCarrito(e){
    swal({
        title: 'Deseas Agregar el producto al carrito?',
        text: "",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, Agregar!',

    }).then(function (result) {
        if (result.value == true) {
            //$('#progress').show();
            
            $.getJSON("/agregarcarrito/"+e.id, function(result){
				            swal(
                            'Agregado!',
                            'El Articulo fue Agregado.',
                            'success'
                        )
    	
  			});
        }
    });

	
}
</script>